<h1>Hello World!</h1>
<form class="" action="/movies/search" method="get">
  <input type="textfield" name="search[title]" value="" placeholder="Title">
  <input type="submit" name="name"  value="Search for Movie">
</form>
